#shapeContainer, #formContainer {
    margin: auto;
}

#shapeArea {
    background-color: lightblue;
    height: 600px;
    width: 600px;
    border: 3px solid black;
    position: relative;
    top: 100px;
    margin: auto;
    overflow:-moz-hidden-unscrollable;
}

#sidePanel {
    height: 600px;
    width: 300px;
    background-color: lightgray;
    border: 3px solid black;
    padding: 5px;
    position: relative;
    top: 100px;
}

.shapeBox, .shapeForm {
    float: left;
    padding: 5px;
}

.Square {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    position: absolute;
    
}

.Rectangle {
    width: 200px;
    height: 100px;
    background-color:green;
    border: 1px solid black;
    position: absolute;
}

.Circle {
    width: 100px;
    height: 100px;
    background-color:purple;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
}

.Triangle {
    width: 0;
    height: 0;
    border-bottom: 100px solid yellow;
    border-right: 100px solid transparent;
    position: absolute;
}

.formButton {
    padding: 3px;
    margin-top: 3px;
}